@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import '@vime/core/themes/default.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Kanit;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
  width: 100%;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  display: hidden;
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  /* left: auto; */
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

[role="tab"].active {
  border-color: #dc2626;
  color: white;
  background-color: #dc2626;
}

[role="tab"].active:hover {
  border-color: #dc2626;
  color: white;
  background-color: #dc2626;
}

.overlayArrow>.slick-prev {
  left: 10px;
  z-index: 1;
}
.overlayArrow>.slick-next {
  right: 10px;
  z-index: 1;
}
